@font-face {
    font-family: "8bit-HUD";
    src: url("../assets/fonts/8-bit-hud.ttf");
}

html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font: 16px sans-serif;
}

.game-wrapper{
  width: 100%;
  height: 100%;
}
.game-box {
  width: 100%;
  height: 88%;
  margin: auto;
  position: relative;
  /* 
  STATIC BG: 
  background-image: url('../assets/img/background/bg.png'); 
  */
  background: url('../assets/img/background/bg_patternSF.png');
  animation: scroll-background 12.5s linear infinite;
}
@keyframes scroll-background {
  from{
    background-position-y: 0px;
  }
  to {
    background-position-y: 1824px;
  }
}
.game-info {
  position: absolute;
  left: 16px;
  top: 20px;
  font-family: "8bit-HUD";
  font-size: 5px;
  color: #848d9f;
}
#game-points{
  color: #46c59d;
}
#game-lives{
  color: #ff627a;
}
.game-box .player {
  position: absolute;
  margin-left: -30px;
  width: 60px;
}
.game-box .bullet {
  position: absolute;
  margin-left: -10px;
  height: 20px;
}
.game-box .enemy {
  position: absolute;
  margin-left: -20px;
  width: 40px;
}
.game-controls {
  border-top: 1px solid rgb(227 ,230 ,237);
  padding-top: 5px;
  width: 100%;
  height: 12%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.game-controls div {
  height: 66px;
  width: 30vw;
  background: center no-repeat;
}
#leftB{
  background-image: url('../assets/img/buttons/arrowL.svg');
}
#spaceB{
  background-image: url('../assets/img/buttons/teslaLogo.png');
}
#rightB{
  background-image: url('../assets/img/buttons/arrowR.png');
}

/* Scoreboard */
.flex-score-list {
  font-size: small;
  padding: 0;
  margin: 0;
  margin-bottom: 1px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* Button */
.button-gray {
  background-color: #f2f3f7; 
  color: #000;
}
.button-white {
  background-color: #ffffff; 
  color: #000;
}
.button-green {
  background-color: rgb(70, 197, 156); 
  color: #ffffff;
}
.button-red {
  background-color: rgb(255, 98, 122); 
  color: #ffffff;
}

.button-lg-flat {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 3px;
  border: none;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Input */
input[type=text] {
  font-family: "8bit-HUD";
  background-color: rgb(227, 230, 237);
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  margin-top: 3px;
  width: 100%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #bbbbbb;

}

@media screen and (min-width: 576px){
  .game-wrapper{
    margin-top: 10px;
  }
  .game-box{
    width: 576px;
    height: 640px;
    border: 2px black solid;
  }
  .game-controls{
    width: 576px;
    border-top: none;
  }
}